/* CSS RESET */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    
   
    
}

li {
    list-style: none;
    font-size: 0.8rem;
    display: inline-block;
    padding: 25px 10px;
    
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}

#navbar-header a:hover, #footer a:hover {
    text-decoration: underline;
}

textarea:focus, input:focus{
    outline: none;
}

/* UTILITY CLASSES */
.btn-light {
    background-color: #f2f2f2;
    padding: 10px 15px;
    text-decoration: none;
    color: #5F6368;
    font-size: 0.9rem;
    border-radius: 3px;
    margin: 0;
    border: 1px solid transparent;
    
    
 
}

.btn-light:hover {
   
    border: 1px solid #dfe1e5;
    
    
 
    
}

.btn-blue {
    background-color: #4285f4;
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
    
 
}

i.material-icons {
   position: relative;
   bottom: 4px;
}

/* HEADER */

.navbar-container {
    padding: 0px 30px;
    height: 50px;
    
    
}
ul.nav-left li {
    float: left;
}

ul.nav-right li {
    float: right;
}
/* MAIN BODY */


.main-wrapper   {  
    padding: 150px 0 120px 0;
    text-align: center;
    ;
}

.main-wrapper img {
    display: block;
    margin: auto;
 
    margin-bottom: 45px;
}
.main-wrapper a {
    display: inline-block;
    margin: auto;
    margin: 0 5px;
}

.searchbox {
    display: flex;    
    flex-flow: column;
    align-items: center;
    margin-bottom: -40px;
}
.main-wrapper input {
    height: 2.5rem;
    width: 30rem;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    display: inline-block;
    margin: auto;

 

}

.main-wrapper input:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.foot-bar {
    height: 35px;
    background: #f2f2f2;

    border-top: 1px solid #dfe1e5;

 
    
}

#mic-img {
    width: 1.6rem;
    display: inline-block;
    position: relative;
    top: -32px;
    right: -215px;
    opacity: 1;
   
}

a.full-opacity {
    opacity: 1;;
}

.bottom-container {
    
 
   
  


}

.footer-lists {
    padding: 10px 30px;
    margin: 0;
    color: #5F6368;
}

.footer2 {
    padding: 10px;
    
}

.margin-left-sml {
    margin-left: 20px;
}

.font-big {
    font-size: 0.9rem;
}

.footer-right {
    float: right;
}

.margin-right-sml {
    margin-right: 20px;
}

.foot-bar a {
    text-decoration: none;
    color: #5F6368;
}

input#main-search {
    padding-left: 20px;
    font-size: 1.0rem;

}